/* Created by: Brandon Brandhuber
* Created on: April 2025
* This file contains the CSS for index.html
*/

body {
    background-color: rgb(182, 120, 161);
}

h1 {
    background-color: rgb(126, 203, 233);
    color: hsl(355, 78%, 69%);
    padding: 40px;
    text-align: center;
}

h2 {
    background-color: aqua;
    color: hsl(293, 78%, 69%);
}

div {
    font-weight: bold;
    color: #000000;
    margin: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}